// mast gradient
$mastcolor: #c45d17;
$mastdark: #a85821;

// footer gradient
$footercolor: #745099;
$footerdark: #55416a;


$bordercolor: #83b901;
$navlinkcolor: #745099;
$linkcolor:#5c8c48;
$linkhover:#005696;
$navbordercolor: #c3d1a4;
$imgbordercolor: #745099;
$photoborder: lighten($imgbordercolor, 8%);
$eventdatecolor: darken($bordercolor, 9%);

$sans: Helmet, Freesans, sans-serif;
$serif: 'Alegreya', serif;


// for gradients
@mixin linear-gradient($from, $to, $ie: $useIEFilters) {
  @if $ie != 1 { background-color: $to; }
  
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, $from),color-stop(1, $to));
  background-image: -webkit-linear-gradient(top, $from, $to);
  background-image: -moz-linear-gradient(top, $from, $to);
  background-image: -ms-linear-gradient(top, $from, $to);
  background-image: -o-linear-gradient(top, $from, $to);
  background-image: linear-gradient(top, bottom, $from, $to);

  @if $ie == 1 { 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$from}', endColorstr='#{$to}');
    -ms-filter: quote(progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$from}', endColorstr='#{$to}'));
  }
}



/*  Font Awesome
    the iconic font designed for use with Twitter Bootstrap
    -------------------------------------------------------
    The full suite of pictographic icons, examples, and documentation
    can be found at: http://fortawesome.github.com/Font-Awesome/

    License
    -------------------------------------------------------
    The Font Awesome webfont, CSS, and LESS files are licensed under CC BY 3.0:
    http://creativecommons.org/licenses/by/3.0/ A mention of
    'Font Awesome - http://fortawesome.github.com/Font-Awesome' in human-readable
    source code is considered acceptable attribution (most common on the web).
    If human readable source code is not available to the end user, a mention in
    an 'About' or 'Credits' screen is considered acceptable (most common in desktop
    or mobile software).

    Contact
    -------------------------------------------------------
    Email: dave@davegandy.com
    Twitter: http://twitter.com/fortaweso_me
    Work: http://lemonwi.se co-founder

    */
@font-face {
  font-family: "FontAwesome";
  src: url('../font/fontawesome-webfont.eot');
  src: url('../font/fontawesome-webfont.eot?#iefix') format('eot'), url('../font/fontawesome-webfont.woff') format('woff'), url('../font/fontawesome-webfont.ttf') format('truetype'), url('../font/fontawesome-webfont.svg#FontAwesome') format('svg');
  font-weight: normal;
  font-style: normal;
}




/* reset */
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}									

article, aside, figure, footer, header, hgroup, nav, section {display: block;}


img,
object,
embed {max-width: 100%;}

/* force a vertical scrollbar to prevent a jumpy page */
html {overflow-y: scroll;}


blockquote, q {quotes: none;}

blockquote:before, 
blockquote:after, 
q:before, 
q:after {content: ''; content: none;}

a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;}

del {text-decoration: line-through;}

abbr[title], dfn[title] {border-bottom: 1px dotted #000; cursor: help;}


th {font-weight: bold; vertical-align: bottom;}
td {font-weight: normal; vertical-align: top;}

hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}

input, select {vertical-align: middle;}

pre {
	white-space: pre; /* CSS2 */
	white-space: pre-wrap; /* CSS 2.1 */
	white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
	word-wrap: break-word; /* IE */
}

input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom; *vertical-align: baseline;}
.ie6 input {vertical-align: text-bottom;}

select, input, textarea {font: 99% sans-serif;}

table {font-size: inherit; font: 100%;}
 
/* Accessible focus treatment
	people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {outline: none;}

small {font-size: 85%;}

strong, th {font-weight: bold;}

td, td img {vertical-align: top;} 

/* Make sure sup and sub don't screw with your line-heights
	gist.github.com/413930 */
sub, sup {font-size: 75%; line-height: 0; position: relative;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

/* standardize any monospaced elements */
pre, code, kbd, samp {font-family: monospace, sans-serif;}

/* hand cursor on clickable elements */
.clickable,
label, 
input[type=button], 
input[type=submit], 
button {cursor: pointer;}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {margin: 0;}

/* make buttons play nice in IE */
button {width: auto; overflow: visible;}
 
/* scale images in IE7 more attractively */
.ie7 img {-ms-interpolation-mode: bicubic;}

/* prevent BG image flicker upon hover */
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}


/* image replacement */
.hide-text {text-indent: 100%;white-space: nowrap;overflow: hidden;}

/* clearing floats */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }  
.clearfix:after { clear: both; }  
.clearfix { zoom: 1; }  



/* Custom text-selection colors (remove any text shadows: twitter.com/miketaylr/status/12228805301) */
::-moz-selection{background: #fcd700; color: #fff; text-shadow: none;}
::selection {background: #fcd700; color: #fff; text-shadow: none;} 

/*	j.mp/webkit-tap-highlight-color */
a:link {-webkit-tap-highlight-color: #fcd700;} 

ins {background-color: #fcd700; color: #000; text-decoration: none;}
mark {background-color: #fcd700; color: #000; font-style: italic; font-weight: bold;}




/* site specific styles */


body {font: 13px $sans; background-color:$footerdark;}

body, select, input, textarea {color: #444;}

a {
	color: $linkcolor;
	&:hover{color: $linkhover;}
}



.no-multiplebgs .wrapper{
	background:url(../img/bg.jpg) left top repeat #eee;
}
.wrapper{
	background:url(../img/bottomcolors.png) left bottom repeat-x,
		url(../img/bg.jpg) left top repeat #eee;
	padding-bottom:35px;
}


/* hsu wordmark */
.mastwrap{
	background:url(../img/topcolors.png) repeat-x bottom left $mastcolor;
	padding:0 0 5px;
}
.masthead{
	height:32px;

	@include linear-gradient($mastcolor, $mastdark, 1);
}

.ie7 .logowrapper, .ie8 .logowrapper{
	width:920px;
	padding:0;
}

.logowrapper{
	width:96%;
	max-width:920px;
	padding:0 2%;
	margin:0 auto;
}
.logo{
	width:393px;
	height:19px;
	padding:5px 0;
	display:block;
}

/* department header */

.ie7 header, .ie8 header{
	width:920px;
	padding:0;
}

header{
	width:96%;
	max-width:920px;
	padding:0 2%;
	margin:0 auto;
	height:115px;

	h1{
		font:700 36px/42px $serif;
		float:left;
		margin:44px 0 0;
		text-shadow: 1px 1px 0px #eee, 2px 2px 0 lighten($mastcolor, 30%);
	}
	a{
		text-decoration:none;
		color:#222;
		&:hover{color:#222;}
	}
	img{
		float:right;
		margin:17px 0 10px;			
	}
}



/* content area */


.main nav{
	max-width:260px;
	width:28.26%;
	float:left;

	ul{
		margin:0;
		padding:0;
		list-style:none;


		ul{
			margin:0 0 0 10px;


			a{
				color:$linkcolor;
				font-size:16px;
				line-height:20px;
				text-decoration:none;
				display:block;
				padding:2px 10% 8%;
				width:75.2%;
				margin-right:4%;
				border-top:0;

			}
			a.active{
				padding:2px 10% 8%;
				background:none;
				border-top:0;
				color:$linkcolor;
				font-weight:bold;
			}
			a.active:before{
				color:$bordercolor;
				content: "\f0da";/*caret*/
		  	font-family: FontAwesome;
		  	font-weight: normal;
		  	font-style: normal;
		  	text-decoration: inherit;
		  	display:block;
		  	float:left;
		  	text-indent:-17px;
			}
			li.first{
				margin-top:10px;
			}
			ul li.first{
				margin-top:5px;
			}
		}
	}
	li{
		margin:0;
		padding:0;
		list-style:none;
		list-style-image:none;
	}
	a.active{
		background:url(../img/navarrow.png) no-repeat top right;
		background-size:100% 100%;
		width:81.1%;
		border-top:0;
		color:#fff;
		font-weight:bold;
	}
	li.first a{
		border:0;
	}
	a{
		color:$navlinkcolor;
		font-size:18px;
		line-height:22px;
		text-decoration:none;
		display:block;
		padding:14px 10%;
		width:75.2%;
		margin-right:4%;
		border-top:1px solid $navbordercolor;

	}
}

#menu-icon {
	cursor:pointer;
	font-size:20px;
	line-height:22px;
	font-weight:bold;
	padding:7px 5%;
	display:block;
	border:1px solid $navbordercolor;
	background:url(../img/menu.png) no-repeat 95% 7px, url(../img/navbgsm.png)repeat top left;
	display: none;	
}

.ie7 .mainwrap, .ie8 .mainwrap{
	width:920px;
	padding:0;
}

.mainwrap{
	width:96%;
	padding:0 2%;
	max-width:920px;
	margin:0 auto;
}
.main{
	padding:20px 0 55px;
	background:url(../img/navbg.png) repeat-y #fff;
	background-size:27%;
	width:100%;
	border-top:4px solid $bordercolor;
	border-bottom:1px solid $bordercolor;

	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}

.primary-content{
	max-width:660px;
	width:63.852%;
	padding:0 3.939%;
	float:left;
}



/* index only */
.ie7 .homephoto{
	float:left;
}
.homephoto{
	position:relative;
	margin:0;
	border:4px solid $photoborder;
	line-height:0;

	p{
		margin:0;
		font:italic 16px/20px $sans;
		position:absolute;
		bottom:0;
		left:0;
		color:#fff;
		padding:20px;
		background:rgb(0,0,0);
		background:rgba(0,0,0,.7);
		margin:0;
	}
}

.ie7 .view-announcements ul{
	list-style:disc;
}

.view-announcements{
	width:47%;
	float:left;
	font-size:14px;
	line-height:18px;
	padding-right:3%;

	ul{
		list-style:none;
		margin:0;
		padding:0;
	}
	li{
		margin:15px 0 15px 25px;

	}
	li:before{
		color:$bordercolor;
		content: "\f0da";/*caret*/
  	font-family: FontAwesome;
  	font-weight: normal;
  	font-style: normal;
  	text-decoration: inherit;
  	display:block;
  	float:left;
  	text-indent:-17px;

	}
}
h2.announcements:before{
	color:$bordercolor;
	content: "\f0a1";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  padding-right:10px;
  text-decoration: inherit;
}

#block-views-events-block{
	width:47%;
	float:left;
	font-size:14px;
	line-height:18px;
	padding-right:3%;

	h2:before {
	color:$bordercolor;
	content: "\f073";
	font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  padding-right:10px;
  text-decoration: inherit;
	}
}

.event{
		padding-bottom:15px;

	span{
		font:small-caps 11px/15px $sans;
		text-transform:uppercase;
		color:$eventdatecolor;
		width:19%;
		float:left;
	}
	p{
		width:81%;
		float:right;
		margin:0;
		position:relative;
		top:-1px;
	}
}


/* footer */
.footwrap{

	@include linear-gradient($footercolor, $footerdark, 1)

}


.ie7 footer, .ie8 footer{
	width:920px;
	padding:40px 0 70px;
}

footer{
	width:96%;
	max-width:920px;
	padding:40px 2% 70px;
	margin:0 auto;
	color:#fff;

	a{
		color:#fff;
		&:hover{color:#fff;}
	}
}
.region-footer-secondcolumn{
	width:22.2826%;
	float:right;


	img{
		margin-left:4px;
		float:right;
	}
}
.region-footer-firstcolumn{
	width:77.7174%;
	float:left;
	line-height:18px;
}

/* text formatting styles */
.front h2{
	font:28px/34px $serif;
	margin:37px 0 18px;
}
.primary-content{
	font:14px/18px $sans;
}
h2.title{
	font:28px/34px $serif;
	margin:6px 0 23px 0;
	border-bottom:1px solid $navbordercolor;
	padding-bottom:10px;
}
h1, h2{
	font:23px/28px $sans;
	margin:30px 0 10px;
}
h3{
	font:bold 20px/26px $serif;
	margin:30px 0 10px;
}
h4{
	font:19px/26px $serif;
	margin:30px 0 10px;
}
h5{
	font:bold 18px/22px $sans;
	margin:30px 0 10px;
}
h6{
	font:bold 16px/22px $sans;
	margin:30px 0 10px;
}
p{
	margin:15px 0;
}
ul{
	margin:15px 0 15px 20px;
}
ol{
	margin:15px 0 15px 22px;
}
li{
	margin:8px 0;
}

.photo{
	border:4px solid $photoborder;
}
.right{
	float:right;
	margin:10px 0 10px 10px;
}

table{
	width:100%;
}
th{
	text-align:left;
	border-bottom:2px solid #444;
	padding:5px 0 2px;
}
td{
	border-bottom:1px solid #ccc;
	padding:5px 0 2px;
}


/* accessibility links */
.reader, .viewer{
	width:120px;
	float:left;
	margin:10px 10px 0 0;
	padding:4px 0 0 27px;
	height:20px;
}
.reader{
	background:url(../img/pdficon.png) no-repeat top left;
}
.viewer{
	background:url(../img/docicon.png) no-repeat top left;
	margin:10px 0 0 0;
}


/* overriding default drupal styles */


/* editing tabs */
div#tabs-wrapper{
	margin:0;
	font:14px/18px Helmet, Freesans, sans-serif;
}
.front ul.primary ul.tabs{
	margin:0;
}
ul.primary, ul.tabs{
	border:0;
	margin:20px 0 40px;
	padding:0;
}
ul.primary li a{
	padding:6px 20px;
	border:1px solid #333;

	@include linear-gradient(#6d6d6d, #393939, 1);

	color:#fff;
	text-shadow: 1px 1px 3px rgba(0,0,0,.5);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}
ul.primary li a:hover, ul.primary li.active a:hover, #main ul.primary li.active a{
	background-image:none;
	background-color:#666;
	color: #fff;
	border:1px solid #333;
}


/* pager styles */
.primary-content .item-list .pager{
 text-align:left;
 height:16px;
 padding:4px 0;
 margin:30px 0 0;
 font:13px/16px helmet, freesans, sans-serif;
}
.item-list .pager a{
	color:#222;
	padding:2px 8px;
	background-color:#eee;
	border:1px solid #eee;
	margin:0;
	text-decoration:none;
	-webkit-border-radius: 3px;
  border-radius: 3px;
}
.item-list .pager a:hover{
	border-color:#777;
}
.primary-content .item-list .pager .pager-current{
	background-color:#eee;
	color:#222;
	padding:2px 8px;
  font-weight:normal;
  border:1px solid #777;
 	-webkit-border-radius: 3px;
  border-radius: 3px;
}
.item-list .pager li{
	margin:0 2px 0 0;
	padding:0;
}


/* comment, read more links */
.primary-content .nodelinks{
	margin:0 0 30px 0;
}

.primary-content .nodelinks ul.links li, .main .commentlinks ul.links li{
	display:block;
	float:left;
	padding:2px 8px;
	background-color:#eee;
	border:1px solid #eee;
	-webkit-border-radius: 3px;
  border-radius: 3px;
  margin-right:7px;
}


.primary-content ul.links li.comment-add:before, .primary-content ul.links li.comment-comments:before, .primary-content ul.links li.comment_forbidden:before, .primary-content ul.links li.node-readmore:before, .main .commentlinks ul.links li.comment-delete:before, .main .commentlinks ul.links li.comment-edit:before, .main .commentlinks ul.links li.comment-reply:before{
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  padding-right:4px;
  text-decoration: inherit;
  color:#666;
}
li.comment-add:before{	content: "\f075"; /*comment*/}
li.comment-comments:before{content: "\f086"; /*comments*/}
li.comment_forbidden:before{content: "\f023"; /*lock*/}
li.node-readmore:before{content: "\f02d"; /*book*/}
li.comment-delete:before{ content: "\f014"; }/*trash*/
li.comment-edit:before{ content: "\f040"; }/*pencil*/
li.comment-reply:before{ content: "\f045"; }/*boxarrow*/


/* replace default feed icon - check template.php */
.feed-icon{
	float:right;
	position:relative;
	top:-25px;
}

  .tinynav { display: none; }


/* for ie7 when css is concatenated */
li.leaf, li.collapsed, li.expanded{list-style-image:none;list-style:none;margin:0;padding:0;}

@media only screen and (max-width: 650px) {
	.tinynav { display: block; width:100%; }
	.logo{width:auto;}
	.main nav {max-width:92%;width:92%;float:none;padding:0 4%;margin:25px 0;}
	.main nav ul{border:1px solid $navbordercolor;border-top:0;background:url(../img/navbgsm.png) repeat top left;display:none;}
	.main nav ul ul{border:0;margin:-10px 0 10px;}
	.main nav ul ul a{padding:0 0 0 8%;margin:0;width:92%;}
	.main nav ul ul a.active{width:92%;padding:0 0 0 8%;background:url(../img/arrow.png) no-repeat 5.5% 4px;}
	.main nav ul a.active{width:90%;padding:7px 5%;background:url(../img/arrow.png) no-repeat 2% 12px;background-size:auto;font-weight:bold;color:$navlinkcolor;border-top:1px solid $navbordercolor;}
	.main nav ul a{width:90%;background:0;padding:7px 5%;margin:0;}
	#menu-icon{display:block;}
	.main{background:#fff;padding-top:0;}
	.primary-content{width:92%;padding:0 4%;float:none;}
}

@media only screen and (min-width: 651px) {.main nav ul{display:block !important;}}


@media only screen and (max-width: 700px) {
	.region-footer-secondcolumn{width:100%;float:none;padding:25px 0 0 0;}
	.region-footer-secondcolumn img{float:none;}
	.region-footer-firstcolumn{width:100%;float:none;}
}

@media only screen and (max-width: 775px) {
	.homephoto p{color:#222;position:static;background:rgba(0,0,0,.2);}
}

@media only screen and (max-width: 800px) {
	.view-announcements{width:100%;padding:0;float:none;}
	#block-views-events-block{width:100%;padding:0;float:none;}
	.event span{width:14%;}
	.event p{width:86%;}
}

@media only screen and (max-width: 890px) {
	header{height:auto;}
	header h1{width:65%;margin:15px 0;}
}

@media only screen and (max-width: 450px) {
	header h1{font:700 30px/30px $serif;}
	header img{width:28%;}
}